<body>
  

<div class="container">
  <h1>Student Register - Reactive Forms</h1>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">

    <h2>Form Validity: {{studentForm.valid}}</h2>

    <div class="form-group user-name-group">
      <label for="userName">User Name:</label>
      <input id="userName" formControlName="userName" [ngClass]="getFormControlState('userName')" />
      <div class="state">{{ getFormControlState('userName') }}</div>
      <div class="error" *ngIf="studentForm.controls.userName?.invalid && studentForm.controls.userName?.touched">
        <div *ngIf="studentForm.controls.userName?.errors?.['required']">User Name is required</div>
        <div *ngIf="studentForm.controls.userName?.errors?.['minlength']">User Name required minimum 3 characters</div>
      </div>
    </div>
    

    <div class="form-group age-group">
      <label for="age">Age:</label>
      <input id="age" formControlName="age" [ngClass]="getFormControlState('age')" />
      <div class="state">{{ getFormControlState('age') }}</div>
      <div class="error" *ngIf="studentForm.controls['age']?.invalid && studentForm.controls['age']?.touched">
        <div *ngIf="studentForm.controls['age'].errors?.['required']">Age is required</div>
        <div *ngIf="studentForm.controls['age'].errors?.['ageOutOfRange']">Age must be between 18 and 60</div>
      </div>
    </div>
    

    <div class="form-group">
      <label for="subscribe">Subscribe to Newsletter:</label>
      <input type="checkbox" id="subscribe" formControlName="subscribe">
    </div>

    <div class="email-group form-group">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" [ngClass]="getFormControlState('email')" />
      <div class="state">{{ getFormControlState('email') }}</div>
      <div class="error" *ngIf="studentForm.controls['email']?.invalid && studentForm.controls['email']?.touched">
        <div *ngIf="studentForm.controls['email'].errors?.['required']">Email is required</div>
        <div *ngIf="studentForm.controls['email'].errors?.['email']">Please enter a valid email address</div>
        <div *ngIf="studentForm.controls.email?.errors?.['invalidDomain']">Email domain must be gmail.com</div>
      </div>
    </div>
    
<!--     
  <div formArrayName="phones" class="form-group">
    <div *ngFor="let phone of phoneControls.controls; let i = index">
      <label for="phone-{{i}}">Phone {{i + 1}}: </label>
      <input type="text" id="phone-{{i}}" [formControlName]="i" (blur)="phone.markAsTouched()">
      <div class="error" *ngIf="phone.invalid && phone.touched">
        <div *ngIf="phone.errors?.['required']">Phone number is required.</div>
        <div *ngIf="phone.errors?.['pattern']">Please enter a valid 10-digit phone number.</div>
      </div>
      <button type="button" (click)="removePhone(i)">Remove</button>
    </div>
    <button type="button" (click)="addPhone()">Add Phone</button>
  </div> -->


  <div formArrayName="phones" class="form-group phone-group">
    <label>Phones:</label>
    <div *ngFor="let phone of phoneControls.controls; let i = index" class="phone-entry">
      <label for="phone-{{i}}">Phone {{i + 1}}:</label>
      <input type="text" id="phone-{{i}}" [formControlName]="i" (blur)="phone.markAsTouched()" />
      <!-- <div class="state">{{ getFormControlState('phones.' + i) }}</div> -->
      <div class="error" *ngIf="phone.invalid && phone.touched">
        <div *ngIf="phone.errors?.['required']">Phone number is required</div>
        <div *ngIf="phone.errors?.['pattern']">Please enter a valid 10-digit phone number</div>
      </div>
      <button type="button" class="remove-button" (click)="removePhone(i)">Remove</button>
    </div>
    <button type="button" class="add-button" (click)="addPhone()">Add Phone</button>
  </div>
  
  <div class="form-group password-group">
    <label for="password">Password:</label>
    <input id="password" formControlName="password" [ngClass]="getFormControlState('password')" />
    <div class="state">{{ getFormControlState('password') }}</div>
    <div class="error" *ngIf="studentForm.controls['password']?.invalid && studentForm.controls['password']?.touched">
      <div *ngIf="studentForm.controls['password'].errors?.['required']">Password is required</div>
      <div *ngIf="studentForm.controls['password'].errors?.['minlength']">Password must be at least 8 characters long</div>
      <div *ngIf="studentForm.controls['password'].errors?.['missingUpperCase']">Password must contain at least one uppercase letter</div>
      <div *ngIf="studentForm.controls['password'].errors?.['missingLowerCase']">Password must contain at least one lowercase letter</div>
      <div *ngIf="studentForm.controls['password'].errors?.['missingNumeric']">Password must contain at least one number</div>
      <div *ngIf="studentForm.controls['password'].errors?.['missingSpecialChar']">Password must contain at least one special character</div>
      <div *ngIf="studentForm.controls['password'].errors?.['commonPassword']">Password is common. Use a strong password</div>
    </div>
  </div>
  
  <div class="form-group confirm-password-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input id="confirmPassword" formControlName="confirmPassword" [ngClass]="getFormControlState('confirmPassword')" />
    <div class="state">{{ getFormControlState('confirmPassword') }}</div>
    <div class="error" *ngIf="studentForm.controls['confirmPassword']?.invalid && studentForm.controls['confirmPassword']?.touched">
      <div *ngIf="studentForm.controls['confirmPassword'].errors?.['required']">Confirm Password is required</div>
      <div *ngIf="studentForm.errors?.['passwordMismatch']">Passwords must match</div>
    </div>
  </div>
  
  <div formGroupName="addressForm" class="form-group address-form-group">
    <h3>Address</h3>
    <label for="street">Street:</label>
    <input id="street" formControlName="street" [ngClass]="getFormControlState('addressForm.street')" />
    <div class="state">{{ getFormControlState('addressForm.street') }}</div>
    <div class="error" *ngIf="studentForm.get('addressForm.street')?.invalid && studentForm.get('addressForm.street')?.touched">
      <div *ngIf="studentForm.get('addressForm.street')?.errors?.['required']">Street is required</div>
    </div>
  
    <label for="city">City:</label>
    <input id="city" formControlName="city" [ngClass]="getFormControlState('addressForm.city')" />
    <div class="state">{{ getFormControlState('addressForm.city') }}</div>
    <div class="error" *ngIf="studentForm.get('addressForm.city')?.invalid && studentForm.get('addressForm.city')?.touched">
      <div *ngIf="studentForm.get('addressForm.city')?.errors?.['required']">City is required</div>
    </div>
  
    <label for="state">State:</label>
    <input id="state" formControlName="state" [ngClass]="getFormControlState('addressForm.state')" />
    <div class="state">{{ getFormControlState('addressForm.state') }}</div>
    <div class="error" *ngIf="studentForm.get('addressForm.state')?.invalid && studentForm.get('addressForm.state')?.touched">
      <div *ngIf="studentForm.get('addressForm.state')?.errors?.['required']">State is required</div>
    </div>
  
    <label for="zipCode">Zip Code:</label>
    <input id="zipCode" formControlName="zipCode" [ngClass]="getFormControlState('addressForm.zipCode')" />
    <div class="state">{{ getFormControlState('addressForm.zipCode') }}</div>
    <div class="error" *ngIf="studentForm.get('addressForm.zipCode')?.invalid && studentForm.get('addressForm.zipCode')?.touched">
      <div *ngIf="studentForm.get('addressForm.zipCode')?.errors?.['required']">Zip Code is required</div>
      <div *ngIf="studentForm.get('addressForm.zipCode')?.errors?.['pattern']">Invalid Zip Code format</div>
    </div>
  </div>
  
  <button type="submit" class="submit-button">Submit</button>
  

  </form>

  <div *ngIf="formSubmitted && studentForm.valid" class="success-message">
    <h1>Form submitted successfully!</h1>
  </div>

  <div *ngIf="formSubmitted && !studentForm.valid" class="error-message">
    <h1>Please correct the errors in the form</h1>
  </div>
</div>





</body>













<!-- 
  <div formArrayName="phones">
    <div *ngFor="let phone of phoneControls.controls; let i = index">
      <label for="phone-{{i}}">Phone {{i + 1}}: </label>
      <input type="text" id="phone-{{i}}" [formControlName]="i" (blur)="phone.markAsTouched()">
      <div class="error" *ngIf="phone.invalid && phone.touched">
        <div *ngIf="phone.errors?.['required']">Phone number is required.</div>
        <div *ngIf="phone.errors?.['pattern']">Please enter a valid 10-digit phone number.</div>
      </div>
      <button type="button" (click)="removePhone(i)">Remove</button>
    </div>
    <button type="button" (click)="addPhone()">Add Phone</button>
  </div>

 -->


<!-- <div class="container" >

  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <h1>{{ userForm.valid ? 'Form is valid' : 'Form is invalid' }}</h1>

   
    <div> <label for="name">Name: </label>
      <input type="text" id="name" name="name" ngModel required minlength="3">
      <div *ngIf="userForm.submitted || userForm.controls['name']?.touched">
          <div class="error" *ngIf="userForm.controls['name']?.errors?.['required']"> Name is required</div>
          <div class="error" *ngIf="userForm.controls['name']?.errors?.['minlength']" >Name must be at least 3 </div>
      </div>
    </div>

    <div>  <label for="age"> Age : </label>
      <input type="number" name="age" ngModel required min="18" max="100">
      <div *ngIf="userForm.submitted || userForm.controls['age']?.touched" >
        <div class="error" *ngIf="userForm.controls['age']?.errors?.['required']" > Age is required</div>
        <div class="error" *ngIf="userForm.controls['age']?.errors?.['min'] || userForm.controls['age']?.errors?.['max']">Age must be between 18 and 100 </div>
      </div>
    </div>
  


<div>
  <label for="email">Email: </label>
    <input type="text" name="email" ngModel required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >
    <div *ngIf="userForm.submitted || userForm.controls['email']?.touched" >
      <div class="error" *ngIf="userForm.controls['email']?.errors?.['required']" >email is required </div>
      <div class="error" *ngIf="userForm.controls['email']?.errors?.['pattern']" > Email is invalid</div>
    </div>

</div>
    
    <div>
      <label for="phone"> Phone: </label>
      <input type="tel" name="phone" ngModel required pattern="^[0-9]{10}$">
      <div *ngIf="userForm.submitted  || userForm.controls['phone']?.touched"> 
        <div class="error" *ngIf="userForm.controls['phone']?.errors?.['required']" >Phone number is required</div>
        <div class="error" *ngIf="userForm.controls['phone']?.errors?.['pattern']">Please enter a valid number </div>
      </div>
    </div>

    <div>
      <label for="password">Password: </label>
      <input type="password" name="password" ngModel required minlength="8" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" >
      <div *ngIf="userForm.submitted || userForm.controls['password']?.touched">
          <div class="error" *ngIf="userForm.controls['password']?.errors?.['required']" >Password is required</div>
          <div class="error" *ngIf="userForm.controls['password']?.errors?.['pattern']" >         Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character.
          </div>
      </div>
    </div>

    <label for="confirmPassword">Confirm Password: </label>
    <input type="password" id="confirmPassword" name="confirmPassword" ngModel required [(ngModel)]="confirmPassword" #confirmPasswordCtrl="ngModel" (change)="checkPasswords(userForm)">
    <div *ngIf="userForm.submitted || confirmPasswordCtrl.touched">
      <div class="error" *ngIf="confirmPasswordCtrl.errors?.['required']">Confirm Password is required.</div>
      <div *ngIf="confirmPasswordError">Passwords must match.</div>
    </div>
    


    <button [disabled]="!userForm.valid" > SUBMIT</button>
  </form>
</div> -->